//breakpoints
$break-xs: 400px; //23em;  //400px
$break-s:  600px; //37.5em;  //600px
$break-m:  900px;  //56.25em;  //900px
$break-l:  1200px; // 75em;   //1200px
$break-xl:  112.5em;  //1800px


//media query manager

@mixin respond($breakpoint) {
    @if $breakpoint == break-xs {
      @media (min-width: $break-xs) { @content };
    }
    @if $breakpoint == break-s {
      @media (min-width: $break-s) { @content };
    }
    @if $breakpoint == break-m {
      @media (min-width: $break-m) { @content };
    }
    @if $breakpoint == break-l {
      @media (min-width: $break-l) { @content };
    }
    @if $breakpoint == break-xl {
      @media (min-width: $break-xl) { @content };
    } 
  }
  // // for texting breakpoints
  // body {
  //   background-color: green;
  //   @include respond(break-xs) {
  //     background-color: red;
  //   }
  //   @include respond(break-s) {
  //     background-color: blue;
  //   }
  //   @include respond(break-m) {
  //     background-color: pink;
  //   }
  //   @include respond(break-l) {
  //     background-color: yellow;
  //   }
  // //   @include respond(break-xl) {
  // //     background-color: green;
  // //   }
  // }
  
  
  
  
  
  
  
  
  // @mixin clearfix
  //   &:before,
  //   &:after
  //     content: ''
  //     display: table
  //   &:after
  //     clear: both
  

 