.div-WordWallCount{
    display: flex;
    &__page {
        @extend .div-WordWallCount;
        text-align: center;
        margin: 1rem;
    }
    &__card {
        @extend .div-WordWallCount;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

.WordWallCount{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1rem 0;

    &__page {
        @extend .WordWallCount;
        padding: .5rem 1rem;
    }
    &__card {
        @extend .WordWallCount;
        padding: 0 1rem;
    }
}